<p style="color: green"><%= notice %></p>

<iframe title="video" width=800px height=400px allowfullscreen src = "<%= @song.link %>" ></iframe>
<div>
  <%= link_to "Edit this song", edit_song_path(@song), class:"btn btn-secondary"%><br>
  <%= link_to "Back to songs", songs_path, class:"btn btn-secondary" %><br>
  <%= button_to "Destroy this song", @song, method: :delete, class:"btn btn-secondary"%>
</div>

